---
title: Max | Klappradla
---
<main class="me">
  <%= image_tag 'me.jpg', class: 'photo' %>
  <h1>Hi, I'm Max</h1>
  <%= auto_link data.me.bio, data.me.links %>
  <p class="indented">
    Tools I like:<br/>
    <%= link_list data.me.tools %>
  </p>
  <p class="indented me-social">
    Me elsewhere:<br/>
    <%= link_to tag(:span, class: 'fa fa-fw fa-github-alt'), 'https://github.com/klappradla', target: :_blank %>
    <%= link_to tag(:span, class: 'fa fa-fw fa-twitter'), 'https://twitter.com/klappradla', target: :_blank %>
    <%= link_to tag(:span, class: 'fa fa-fw fa-linkedin'), 'https://at.linkedin.com/in/maxmulatz', target: :_blank %>
    <%= mail_to 'mail@klappradla.me', tag(:span, class: 'fa fa-fw fa-envelope') %>
  </p>
</main>
