---
title: Max | Klappradla
---
<main class="me">
  <%= image_tag 'me.jpg', class: 'photo' %>
  <h1>Hi, I'm Max</h1>
  <%= simple_format data.me.bio %>
  <p class="indented">
    Tools I like:<br/>
    <%= link_list data.me.tools %>
  </p>
  <p class="indented me-social">
    Me elsewhere:<br/>
    <%= link_to tag(:span, class: 'fontawesome-github-alt'), 'https://github.com/klappradla', target: :_blank %>
    <%= link_to tag(:span, class: 'fontawesome-twitter'), 'https://twitter.com/klappradla', target: :_blank %>
    <%= link_to tag(:span, class: 'fontawesome-linkedin'), 'https://at.linkedin.com/in/maxmulatz', target: :_blank %>
    <%= mail_to 'klappradla@gmail.com', tag(:span, class: 'fontawesome-envelope-alt') %>
  </p>
</main>
